/* Menonaktifkan geser kanan-kiri yang merusak layout HP */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Mengatur transisi halus untuk animasi angka */
.counter {
    transition: all 0.5s ease-out;
}